 .u-section-1 {
  min-height: 704px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 724px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 157px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 724px;
  background-image: url("images/5504c3c6bd13f1514809e7ed151a443329cf2cbc91c8f7bb36b926a8ac9c305140dce6a59a72f02ee0de575432f942b0375f5fe6fa4c7a6e51ad96_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 577px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 597px;
  }

  .u-section-1 .u-image-1 {
    min-height: 597px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 437px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 457px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1046px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 686px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 792px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -52px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 432px;
  }
} .u-section-2 {
  min-height: 647px;
}

.u-section-2 .u-list-1 {
  margin-top: 1px;
  margin-bottom: -1px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 647px;
  grid-gap: 20px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/7071.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/714ce5626127b953ce4e84732a7e42d7d8e36f558d4e701323773b8d860e0e05e247a5efa662141f5eadd38c83398185413c0eaf90e056d7a1fc1f_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/b6ab6951b9abfa5cbee021ef827de9883551ae2bf5a5cc5b22defcd9ae204df0607bf9f886b2d93f6b95b86cb16cffbd2725803718a5f652d110b5_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 530px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -118px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 529px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1255px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.999975px);
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 1254px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 428px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 838px;
  margin: 23px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 18px 106px 0;
}

.u-section-3 .u-btn-1 {
  margin: 31px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-left: 79px;
    margin-right: 79px;
  }

  .u-section-3 .u-text-3 {
    width: 683px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-3 {
    width: 340px;
  }
} .u-section-4 {
  min-height: 774px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 774px;
  background-image: url("images/06ccf9e3cb2a923e524bfdf5c2d98bc64a044010e30e0e13598914a812bd80ab8d5ef02b0286d7be1bb2924d8bc662f714e3d7c15a1cfbcf3c3f23_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 774px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 207px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 258px;
  background-image: url("https://pixabay.com/get/g0a6f5a500e25e44decd6d04fcf8e754b4af73baa434ace0e70608b6cf1dbaee0c45254b30ea2f8068de663973917eb3704effbd8b9252b392e14b55db1e43ba3_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 258px;
  background-image: url("images/55d478e23620061dc911ebaf642bbe80315504c0c6c7baeb0b34b14eec8452f2341620c98eaed57574a19ed408b7823d6b372eb5eaaa481181ac35_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 258px;
  background-image: url("images/ffd45d699f2a73a8e978403ba1b82b501a8eb44875461f8068b096be3415eddde9533f9101ffdd24185f510805fc1cd52b377552b6e9f436bd4398_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 685px;
  }

  .u-section-4 .u-image-1 {
    min-height: 638px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 638px;
  }

  .u-section-4 .u-image-2 {
    min-height: 236px;
  }

  .u-section-4 .u-image-3 {
    min-height: 236px;
  }

  .u-section-4 .u-image-4 {
    min-height: 236px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1343px;
  }

  .u-section-4 .u-image-1 {
    min-height: 643px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 700px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-image-2 {
    min-height: 233px;
  }

  .u-section-4 .u-image-3 {
    min-height: 233px;
  }

  .u-section-4 .u-image-4 {
    min-height: 233px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 2244px;
  }

  .u-section-4 .u-image-1 {
    min-height: 482px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 525px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 525px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 525px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1502px;
  }

  .u-section-4 .u-image-1 {
    min-height: 303px;
  }

  .u-section-4 .u-image-2 {
    min-height: 331px;
  }

  .u-section-4 .u-image-3 {
    min-height: 331px;
  }

  .u-section-4 .u-image-4 {
    min-height: 331px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 275px;
}

.u-section-5 .u-text-1 {
  margin: 80px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 18px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 18px 113px 53px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-6 {
  min-height: 933px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 468px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 65px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 8px 0;
}

.u-section-6 .u-image-1 {
  min-height: 465px;
  background-image: url("images/732e41f936d3ae9a118b635e69d6ce515656c8e6720d12e7d7859579351764f56bd15d02ad626ad67b6f27d93a6f17dd6ecec377cacb5735486231_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  min-height: 933px;
  background-image: url("images/2151208288.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  min-height: 468px;
  background-image: url("images/73fa570b921c0d33075a6b199f01c296d1e3938e98533fa378b56ceb79742baa23326b135ec49ef39b905a4295fe0a09bc6ca01dea71995aedd946_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 465px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin: 106px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 21px 8px 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 773px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-6 .u-image-1 {
    min-height: 383px;
  }

  .u-section-6 .u-image-2 {
    min-height: 769px;
  }

  .u-section-6 .u-image-3 {
    min-height: 386px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 383px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 22px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 2024px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    min-height: 440px;
  }

  .u-section-6 .u-image-2 {
    min-height: 884px;
  }

  .u-section-6 .u-image-3 {
    min-height: 887px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 3134px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-1 {
    min-height: 660px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 1326px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    min-height: 665px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1654px;
  }

  .u-section-6 .u-image-1 {
    min-height: 416px;
  }

  .u-section-6 .u-image-2 {
    min-height: 835px;
  }

  .u-section-6 .u-image-3 {
    min-height: 419px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 501px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-7 .u-form-1 {
  width: 570px;
  margin: 29px auto 59px;
}

@media (max-width: 767px) {
  .u-section-7 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-form-1 {
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 189px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 159px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 116px;
  min-width: 52px;
  margin: 0 auto;
}

.u-section-8 .u-icon-1 {
  height: 48px;
}

.u-section-8 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 131px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 108px;
  }
}